
{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Know more about Me</h1>
        <p class="lead">I am an engineering student at NIT.</p>
        <p class="lead">I am studying Computer Science and Engineering.</p>
        <hr class="my-4">
        <p>I love making life easier using technology. <br>
            I have a great interest in developing web applications using Djagno.
            I like Cryptography and Network Programming.
        </p>
    </div>
{% endblock %}