{% extends "base.html" %}

{% block content %}
    <br>
    {% for object in object_list %}
    <div  class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
        <div class="card-body">
            <h5 class=card-title>{{object.title}}</h5>
            <small class="text-muted">{{object.publish_date}}</small>
            <p class="card-text">{{object.content | linebreaks | truncatewords:25}}</p>
            {% if not object.publish_date %}
            Draft
            {% endif %}
            <a href="{{ object.get_absolute_url }}" class="btn btn-outline-info">View</a>
        </div>
    </div>
    <br>
    {% endfor %}
    <br>
{% endblock %}